<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>车辆列表</title>
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<style type="text/css">
		.carPage {
			width: 260px;
			margin: 0px auto;
			padding-top: 20px;
		}
		</style>
	</head>
	<body>
		<div class="panel-group" id="accordion">
		
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="#collapseOne"> 条件查询 </a>
					</h4>
				</div>
				
				<div id="collapseOne" class="panel-collapse collapse in">
				
					<div class="panel-body" >
					
						<!-- 品牌 -->
						<div class="form-group">
							<label for="brand" class="col-sm-1 control-label">品牌:</label>
							<div class="col-sm-3 input-group" >
								<span id="brand" ></span>
							</div>
						</div>
						<!-- 车系 -->
						<div class="form-group">
							<label for="level" class="col-sm-1 control-label">车系:</label>
							<div class="col-sm-4 " >
								<span id="series"></span>
							</div>
						</div>
						<br><br>
						<!-- 价格 -->
						<div class="form-group">
							<label for="price" class="col-sm-1 control-label">价格:</label>
							<div class="col-sm-6" id="price">
								
							</div>
						</div>
						<br><br>
						<!-- 车龄 -->
						<div class="form-group">
							<label for="vehivle_age" class="col-sm-1 control-label">车龄:</label>
							<div class="col-sm-4 "  id="vehivle_age">
								
							</div>
						</div>
						<br><br>
						<!-- 级别 -->
						<div class="form-group">
							<label for="level" class="col-sm-1 control-label">级别</label>
							<div class="col-sm-2" >
								<select class="form-control" name="level" id="level">
									<option value=''>==请选择==</option>
								</select>
							</div>
							
							<label for="outputVolume" class="col-sm-1 control-label">排量</label>
							<div class="col-sm-2 " >
								<select class="form-control" name="outputVolume" id="output_volume">
									<option value=''>==请选择==</option>
								</select>
							</div>
						</div><br><br>
			
						
						<!-- 变速箱 -->
						<div class="form-group" >
							<label for="gearbox" class="col-sm-1 control-label">变数箱</label>
							<div class="col-sm-2 " >
								<select class="form-control" name="gearbox" id="gearbox">
									<option value=''>==请选择==</option>
								</select>
							</div>
							<label for="location" class="col-sm-1 control-label">归属地</label>
							<div class="col-sm-2">
								<input type="text" autocomplete="off" name="location"
									class="form-control" id="location" placeholder="归属地">
							</div>
							
						</div>
						
					
				
						
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row" id="carList"></div>
		</div>
		<div class="carPage">
			<button id="firstPage" class="btn btn-primary" type="button">首页
			</button>
			<button id="prePage" class="btn btn-primary" type="button">上一页
			</button>
			<button id="nextPage" class="btn btn-primary" type="button">下一页</button>
			<button id="lastPage" class="btn btn-primary" type="button">末页
			</button>
		</div>
	
	
	
	
		<script th:src="@{/bootstrap/js/jquery/jquery.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"
			type="text/javascript"></script>
	
		<script th:src="@{/bootstrap/js/validate/jquery.validate.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/bootstrap/js/validate/messages_zh.min.js}"
			type="text/javascript"></script>
	
		<script th:src="@{/bootstrap/js/laydate/laydate.js}"
			type="text/javascript"></script>
	
		<script th:inline="javascript" type="text/javascript">
			const path= /*[[${#request.getContextPath()}]]*/
			
			
			$(function(){
				et1911.queryList();
				et1911.queryBrend();
				et1911.getSeriesByBrand('');
				et1911.querySelectDict('level');
				et1911.querySelectDict('output_volume');
				et1911.querySelectDict('gearbox');
				et1911.getPriceDict();
				et1911.getVehicleAgeDict();
				$("input[name='price']").change(function(){
					et1911.queryList();
				});
				$('#vehivle_age').change(function(){
					et1911.queryList();
				});
				
				
				$('#firstPage').click(function(){
					et1911.queryList();
				})
				$('#nextPage').click(function(){
					et1911.queryList(++currentPage);
				})
				$('#prePage').click(function(){
					et1911.queryList(--currentPage);
				})
				$('#lastPage').click(function(){
					et1911.queryList(pageCount);
				})
			})
			
			$('#level').change(function(){
				et1911.queryList();
			})
			$('#gearbox').change(function(){
				et1911.queryList();
			})
			$('#output_volume').change(function(){
				et1911.queryList();
			})
			$('#location').on('blur',function(){
				et1911.queryList();
			})
			
			
			let currentPage=1;
			let pageCount;
			let brands='';
			let ser='';
	        let et1911={ 	
	        		//价格字典
        		getPriceDict:function(){
        			$.ajax({
        				url:path+'/dict/price',
        				type:'get',
        				data:'',
        				dataType:'json',
        				async:false,
        				success:function(res){
        					let checkbox =''
        					for(dict of res){
        						checkbox += "<label class='checkbox-inline'>"
        						+"<input  type='checkbox' name='price' value='"+dict.value+"'>"
        						+dict.name
        						+"</label>"
        					}
        					$('#price').html(checkbox);
        				}
        			})        		
       			},
       			//车龄字典
        		getVehicleAgeDict:function(){
        			$.ajax({
        				url:path+'/dict/vehicle_age',
        				type:'get',
        				data:'',
        				dataType:'json',
        				async:false,
        				success:function(res){
        					let radio =''
        					$.each(res,function(i,dict){
        						radio += "<label class='radio-inline'>"
            						+"<input  type='radio' name='vehicleAge' value='"+dict.value+"'>"
            						+dict.name
            						+"</label>"
        					})
        					
        					$('#vehivle_age').html(radio);
        				}
        			})     
        		},
        		querySelectDict: function(groupId){
					if(groupId){
						$.ajax({
							url:path+'/dict/'+groupId,
							type:'get',
							data:'',
							dataType:'json',
							success:function(data){
								let options = "<option value=''>==请选择==</option>"
								for(let dict of data){
									options += "<option value='"+dict.value+"'>"
											+dict.name
											+ "</option>"
								}
								$('#' + groupId).html(options)
							}
						})
					}
				},
				queryUp:function(s){
					ser=s;
					et1911.queryList();
					
				},
        		 getSeriesByBrand:function(b){
        			 brands=b;
        			 ser='';
        			 et1911.queryList();
        			 
           			$.ajax({
            			url:path+'/car/getSeries',
            			type:'get',
            			data:'brand='+b,
            			dataType:'json',
            			success:function(msg){
            				let se="";
    						
    						$.each(msg,function(index,s){
    							se += `<button  class="btn btn-success" onclick="et1911.queryUp('${s}')">${s}</button>`
    						})	
    						$("#series").html(se);	
            			}
            		})
           		},
        		
	        	queryBrend:function(){
	        		$.ajax({
	        			url:path+'/car/getBrand',
	        			type:'GET',
	        			data:'',
	        			dataType:'json',
	        			success:function(msg){
	        				let brands="";
							
							$.each(msg,function(index,b){
								brands += `<button  class="btn btn-primary"  value="'${b}'"
								onclick="et1911.getSeriesByBrand('${b}')" >${b}</button>`
							})	
							$("#brand").html(brands);	
	        			}
	        		})
	        	},
	        	
				queryList:function(pageNum,pageSize){
					pageNum=pageNum||1
					pageSize=pageSize||8
					
					//let brand =$('input[name="brand"]:checked').val()||'';
					let level=$('#level').val()||'';
					let gearbox=$('#gearbox').val()||'';
					let location=$('#location').val()||'';
					let outputVolume=$('#output_volume').val()||'';
					
					//价格区间（多选框）
					let priceList=[]
					$("input[name='price']:checked").each(function(){
						priceList.push(this.value)
					})
					
					//车龄区间
					let vehicleAge=$("input[name='vehicleAge']:checked").val() || ''
					
					$.ajax({
						url:path+'/car/list',
						type:'GET',
						data:'pageNum='+pageNum+'&pageSize='+pageSize+'&brand='+brands+'&series='+ser
						+'&level='+level+'&gearbox='+gearbox+'&location='+location+'&outputVolume='+outputVolume
						+'&priceList='+priceList+'&vehicleAge='+vehicleAge,
						dataType:'json',
						success:function(res){
							
							let divs="";
							currentPage =res.pageNum;
							pageCount=res.pageCount;
							 
							$.each(res.rows,function(index,car){
								divs += "<div class='col-md-3'>"
									+ "<img class='img-thumbnail' src='" + path + car.pic + "' width='300px;'>"
									+ "<p>"+ car.brand +" "+ "/" +" "+ car.series+"</p>"
									+ "<p>"+ car.price +"万元</p>"
									+ "<p>"+ car.gearboxName +"</p>"
									+ "<p>"+ car.location+"/" +car.licensingTime+"</p>"
									+ "</div>"
							})	
							$("#carList").html(divs);	
							
							if(res.first){
								$('#firstPage').attr('disabled','disabled')
								$('#prePage').attr('disabled','disabled')
							}else{
								$('#firstPage').removeAttr('disabled')
								$('#prePage').removeAttr('disabled')
							}
							
							if(res.last){
								$('#lastPage').attr('disabled','disabled')
								$('#nextPage').attr('disabled','disabled')
							}else{
								$('#lastPage').removeAttr('disabled')
								$('#nextPage').removeAttr('disabled')
							}
						}
					})			
				}
			}
		
		
		</script>
	
	</body>
</html>